@charset "utf-8";
/* CSS Document */

body nav {
}
body p {
	list-style-type: none;
	list-style-position: inside;
	list-style-image: none;
	float: none;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
body header {
}
ul li a {
	display: block;
	line-height: 48px;
	text-decoration: none;
	text-align: center;
	border: 3px solid #13EE1C;
	background-color: #07D10F;
	width: 0%;
}
header h1 {
	color: #07D10F;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 63px;
	text-decoration: none;
}
header h2 {
	color: #011802;
}
h3 strong {
	color: #F4090D;
}



body nav ul {
	list-style-type: none;
}
body nav ul {
	height: 48px;

}
nav ul li {
	float: left;
	width: 192px;
}
